@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definição de variáveis de cores */
:root {
  --main-color: #ef8f55;
  --main-section-bg-dark: #1e1e1e;
  --second-section-bg-dark: #2d2d2d;
  --title-color-dark: #ffffff;
  --txt-color-dark: #f4f4f4;
  --main-section-bg-light: #ffffff;
  --second-section-bg-light: #f4f4f4;
  --title-color-light: #2a2a2a;
  --txt-color-light: #585858;
}

body.dark {
  --main-section-bg: var(--main-section-bg-dark);
  --second-section-bg: var(--second-section-bg-dark);
  --title-color: var(--title-color-dark);
  --txt-color: var(--txt-color-dark);
}

body,
body.light {
  --main-section-bg: var(--main-section-bg-light);
  --second-section-bg: var(--second-section-bg-light);
  --title-color: var(--title-color-light);
  --txt-color: var(--txt-color-light);
}

* {
  font-family: Montserrat, Sans-serif;
}

/* Estilos baseados em Tailwind e componentes personalizados */
@layer components {
  .container {
    @apply px-5 py-10 max-w-[1600px]  w-full mx-auto lg:px-10;
  }

  .card {
    @apply border main-color-border transition-all items-center rounded-sm shadow-sm px-2 h-36 w-full flex flex-col justify-center gap-1 main-color-txt text-center;
  }

  .title {
    @apply text-center relative text-xl font-bold inline-block left-1/2 transform -translate-x-1/2 mx-auto mb-10;
  }

  .footer_link {
    @apply pl-2 text-white text-xs uppercase font-bold mb-3;
  }

  .fadein--top {
    @apply opacity-0 translate-y-[-20%];
  }

  .fadein--down {
    @apply opacity-0 translate-y-[20%];
  }
}

/* Estilos específicos */
.hero .hero-overlay {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.644);
  z-index: 2;
}

*::selection {
  font-family: Montserrat, Sans-serif;
  background-color: var(--main-color);
  color: white;
}

.main-color-bg {
  background-color: var(--main-color);
}

.main-color-txt {
  color: var(--main-color);
}

nav.sticky_nav {
  background-color: var(--main-section-bg);
}

nav.sticky_nav ul li a {
  color: var(--main-color);
}

.title {
  color: var(--title-color);
}
.title::before {
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0px;
  transform: translateY(2px);
  content: "";
  background-color: var(--main-color);
}

.btn:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn.btn-white {
  border-color: white;
}

.btn.btn-white:hover a {
  color: white;
}

.main-color-border {
  border-color: var(--main-color);
}

.card:hover {
  background-color: var(--main-color);
}

.card:hover > * {
  color: white;
}

main section:nth-of-type(even) {
  background-color: var(--main-section-bg);
  transition: 0.5s;
}

main section:nth-of-type(odd) {
  background-color: var(--second-section-bg);
  transition: 0.5s;
}

p,
span,
a {
  color: var(--txt-color);
}

button:hover a {
  color: var(--main-color);
}

button.react-multiple-carousel__arrow {
  z-index: 10;
  background-color: var(--main-color);
}

button.react-multiple-carousel__arrow:hover {
  background-color: var(--main-color);
  opacity: 0.7;
}

button.react-multiple-carousel__arrow {
  min-width: 36px;
  min-height: 36px;
}

html body section.awards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--main-color);
}

footer {
  background-color: var(--main-color);
}

.form_wrapper {
  padding: 4px;
}

.form_wrapper input,
.form_wrapper textarea {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  padding: 4px;
}

.form_wrapper input::placeholder,
.form_wrapper textarea::placeholder {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.mouse {
  width: 100px;
  height: 180px;
  border: 4px solid white;
  border-radius: 60px;
  z-index: 20;
  position: relative;
}
.mouse::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 30px;
  }
  to {
    opacity: 0;
    top: 150px;
  }
}
